<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mitrichius.sorting</string>
	<key>connections</key>
	<dict>
		<key>0922A832-3CDA-4A16-A998-F14F7C8C61EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD58018C-DC39-4396-A00F-A04372220916</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CEE5FDE4-A33B-43BF-99BD-6623B143C420</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E78BC972-0BA1-49EE-82BC-62F8221F91FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E78BC972-0BA1-49EE-82BC-62F8221F91FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD58018C-DC39-4396-A00F-A04372220916</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F36A4E88-5C02-4306-9516-70B45B480E3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0922A832-3CDA-4A16-A998-F14F7C8C61EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dmitry Kolosov</string>
	<key>description</key>
	<string>Sort lines by hotkey</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Sorting</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>126</integer>
				<key>hotmod</key>
				<integer>12189696</integer>
				<key>hotstring</key>
				<string>↑</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CEE5FDE4-A33B-43BF-99BD-6623B143C420</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n "{query}" | sort -n | grep -Ev "^$"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E78BC972-0BA1-49EE-82BC-62F8221F91FD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string></string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>FD58018C-DC39-4396-A00F-A04372220916</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n "{query}" | sort -nr | grep -Ev "^$"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0922A832-3CDA-4A16-A998-F14F7C8C61EE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>125</integer>
				<key>hotmod</key>
				<integer>12189696</integer>
				<key>hotstring</key>
				<string>↓</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F36A4E88-5C02-4306-9516-70B45B480E3D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0922A832-3CDA-4A16-A998-F14F7C8C61EE</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>CEE5FDE4-A33B-43BF-99BD-6623B143C420</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>E78BC972-0BA1-49EE-82BC-62F8221F91FD</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>F36A4E88-5C02-4306-9516-70B45B480E3D</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>FD58018C-DC39-4396-A00F-A04372220916</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string>http://dmitrykolosov.ru</string>
</dict>
</plist>
