<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mitrichius.formatter</string>
	<key>connections</key>
	<dict>
		<key>B1CC8A3B-2DB8-4CC3-9751-DB55586093AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD58018C-DC39-4396-A00F-A04372220916</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F36A4E88-5C02-4306-9516-70B45B480E3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B1CC8A3B-2DB8-4CC3-9751-DB55586093AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dmitry Kolosov</string>
	<key>description</key>
	<string>XML/JSON pretty formatting</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Formatter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>$query = "{query}";
libxml_use_internal_errors(true);
$jsonArray = json_decode($query);
$xml = simplexml_load_string($query);
if ($jsonArray) {
    echo json_encode($jsonArray, JSON_PRETTY_PRINT);
} elseif ($xml) {
    $dom = new DOMDocument;
    $dom-&gt;preserveWhiteSpace = FALSE;
    $dom-&gt;loadXML($query);
    $dom-&gt;formatOutput = TRUE;
    echo $dom-&gt;saveXml();
} else {
    echo $query;
}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B1CC8A3B-2DB8-4CC3-9751-DB55586093AC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string></string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>FD58018C-DC39-4396-A00F-A04372220916</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>1703936</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F36A4E88-5C02-4306-9516-70B45B480E3D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>B1CC8A3B-2DB8-4CC3-9751-DB55586093AC</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>F36A4E88-5C02-4306-9516-70B45B480E3D</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>FD58018C-DC39-4396-A00F-A04372220916</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>http://dmitrykolosov.ru</string>
</dict>
</plist>
